<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <ul class="messages">
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">First message</li>
        <li class="message user-me">Second message</li>
        <li class="message user-others">
          Dolor saepe non dicta quia facilis, corporis! Non illum asperiores
          modi obcaecati placeat. Hic accusantium.
        </li>
        <li class="message user-me">
          Sit corrupti optio consectetur aperiam ipsa A veritatis voluptas nobis
          incidunt ipsum Magni sunt natus animi tenetur cupiditate Molestiae
          natus.
        </li>
      </ul>
      <form class="grid form-grid" id="form">
        <input
          type="text"
          name="text"
          id="textbox"
          placeholder="Enter your message here"
          class="form-input"
        />
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
    </div>
    <script>
      const socket = io();

      const createMessage = (text, incoming = false) => {
        const messageBox = document.querySelector(".messages");
        const li = document.createElement("li");
        li.textContent = text;
        li.classList.add("message");
        if (incoming) li.classList.add("user-others");
        else li.classList.add("user-me");
        messageBox.append(li);
      };

      const form = document.querySelector("#form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const msg = document.querySelector("#textbox");
        if (msg.value) {
          createMessage(msg.value);
          socket.emit("outcoming message", msg.value);
          msg.value = "";
        }
      });

      socket.on("incoming message", (msg) => {
        console.log(msg);
        createMessage(msg, (incoming = true));
      });
    </script>
  </body>
</html>
