<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <form action="" id="form">
      <input
        type="text"
        name="text"
        id="textbox"
        placeholder="Enter your message here"
        class="form-input"
      />
      <input class="btn" type="submit" value="Send" />
    </form>
  </body>
</html>
