<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <ul class="messages">
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <!-- <li class="message user-1">First message</li> -->
        <!-- <li class="message user-2">Second message</li> -->
        <li class="message user-1">
          Dolor saepe non dicta quia facilis, corporis! Non illum asperiores
          modi obcaecati placeat. Hic accusantium.
        </li>
        <li class="message user-2">
          Sit corrupti optio consectetur aperiam ipsa A veritatis voluptas nobis
          incidunt ipsum Magni sunt natus animi tenetur cupiditate Molestiae
          natus.
        </li>
      </ul>
      <form class="grid form-grid" id="form">
        <input
          type="text"
          name="text"
          id="textbox"
          placeholder="Enter your message here"
          class="form-input"
        />
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        const socket = io();
        const form = document.querySelector("#form");

        form.addEventListener("submit", (e) => {
          e.preventDefault();
          const input = document.querySelector("#textbox");
          socket.emit("new chat", input.value);
          input.value = "";
        });

        socket.on("new chat", (data) => {
          const ul = document.querySelector(".messages");
          const li = document.createElement("li");

          li.textContent = data;
          li.classList.add("message");
          li.classList.add("user-1");
          ul.appendChild(li);

          ul.scrollTop = ul.scrollHeight - ul.clientHeight;
        });
      </script>
    </div>
  </body>
</html>
