<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <ul class="messages"></ul>
      <form class="grid form-grid" id="form">
        <input
          type="text"
          name="text"
          id="textbox"
          placeholder="Enter your message here"
          class="form-input"
        />
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        const socket = io();
        const form = document.querySelector("#form");
        const input = document.querySelector("#textbox");

        const createMessage = (userClass, msg) => {
          const ul = document.querySelector(".messages");
          const li = document.createElement("li");
          li.textContent = msg;
          li.classList.add("message");
          li.classList.add(userClass);
          ul.appendChild(li);
          ul.scrollTop = ul.scrollHeight - ul.clientHeight;
        };

        // Append chat message and emit it to server
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          if (input.value.replaceAll(" ", "") === "") return;
          createMessage("user-me", input.value);
          socket.emit("new chat", input.value);
          input.value = "";
        });

        // Listen to incoming chat message
        socket.on("new chat", (data) => {
          createMessage("user-them", data);
        });
      </script>
    </div>
  </body>
</html>
