<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="basic realtime chat with node" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="container">
      <ul class="messages"></ul>
      <form class="grid form-grid" id="form">
        <input
          type="text"
          name="text"
          id="textbox"
          placeholder="Enter your message here"
          class="form-input"
        />
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
    </div>
    <script>
      const socket = io();

      const scrollMessageBox = () => {
        const msgBox = document.querySelector(".messages");
        msgBox.scrollTop = msgBox.scrollHeight - msgBox.scrollTop;
      };

      const createMessage = (text, incoming = false) => {
        const messageBox = document.querySelector(".messages");
        const li = document.createElement("li");
        li.textContent = text;
        li.classList.add("message");
        if (incoming) li.classList.add("user-others");
        else li.classList.add("user-me");
        messageBox.append(li);
        scrollMessageBox();
      };

      const form = document.querySelector("#form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const msg = document.querySelector("#textbox");
        if (msg.value) {
          createMessage(msg.value);
          socket.emit("outcoming message", msg.value);
          msg.value = "";
        }
      });

      socket.on("incoming message", (msg) => {
        createMessage(msg, (incoming = true));
      });
    </script>
  </body>
</html>
