<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Realtime Chat App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <ul class="messages">
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">First message</li>
        <li class="message user-2">Second message</li>
        <li class="message user-1">
          Dolor saepe non dicta quia facilis, corporis! Non illum asperiores
          modi obcaecati placeat. Hic accusantium.
        </li>
        <li class="message user-2">
          Sit corrupti optio consectetur aperiam ipsa A veritatis voluptas nobis
          incidunt ipsum Magni sunt natus animi tenetur cupiditate Molestiae
          natus.
        </li>
      </ul>
      <form class="grid form-grid" id="form">
        <input
          type="text"
          name="text"
          id="textbox"
          placeholder="Enter your message here"
          class="form-input"
        />
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
